.letter-block {
  border: 1px solid black;
  background: #6d8b6d;
  height: 100px;
  width: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: Helvetica;
}

.board-slot {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  background: #d7bba8;
}

#letter-container {
  margin-top: 20px;
  width: 714px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

#board-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1122px;
  height: 1122px;
  background: rgb(161, 153, 153);
  outline: solid black;
}
