#letter-container {
  margin-top: 20px;
  width: 713px;
  height: 102px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.letter-block {
  border: 1px solid black;
  background: #6d8b6d;
  height: 100px;
  width: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: Helvetica;
  position: absolute;
}

.board-slot {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  background: #d7bba8;
}

#board-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1122px;
  height: 1122px;
  background: rgb(161, 153, 153);
  outline: solid black;
}

#submit-button {
  border: 1px solid black;
  top: 1163px;
  left: 927px;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  background: #29a618;
}

#reset-button {
  border: 1px solid black;
  top: 1163px;
  left: 1028px;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  background: #b87d07;
}

#score-board {
  border: 1px solid black;
  top: 1163px;
  left: 823px;
  width: 100px;
  height: 98px;
  position: absolute;
}

.letter-block:nth-child(1) {
  left: 110px;
}

.letter-block:nth-child(2) {
  left: 212px;
}

.letter-block:nth-child(3) {
  left: 314px;
}

.letter-block:nth-child(4) {
  left: 416px;
}

.letter-block:nth-child(5) {
  left: 518px;
}

.letter-block:nth-child(6) {
  left: 620px;
}
