<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrrable Py</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id="board-container"></div>
    <div id="letter-container"></div>

    {% block content %}
    <script>
      for (let x = 1; x < 122; x++) {
        $("#board-container").append('<div class="board-slot">' + x + "</div>");
      }

      for (let i = 0; i < 7; i++) {
        $("#letter-container").append(
          ` <div class="letter-block">${getRandomLetter()}</div> `
        );
      }

      $(function () {
        $(".letter-block").draggable({
          stop: function (event, ui) {
            var draggable = ui.helper;

            var droppable = draggable.closest(".board-slot");
            if (droppable.length === 0) {
              var droppableTop = $(".board-slot").position().top - 9;
              var droppableLeft = $(".board-slot").position().left - 9;
              draggable.animate({ top: droppableTop, left: droppableLeft });
            }
          },
        });
        $(".board-slot").droppable();
      });
    </script>
    {% endblock %}
  </body>
</html>
