<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="letter">{{ thisletter }}</div>

    <script>
      $(function () {
        $("#letter").draggable();
      });
    </script>

    <style>
      #letter {
        border: 1px solid black;
        background: #b8b8b8;
        height: 100px;
        width: 100px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 80px;
        font-family: Helvetica;
      }
    </style>
  </body>
</html>
